@model MainApp.Models.GeneralPart

@{
    ViewBag.Title = "Добавление компонента";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<link rel="stylesheet" href="~/css/update-addpart.min.css">

<div class="content__wrapper">
    <h2>Добавление компонента в<br>"@Model.Title"</h2>
    <span class="addform__main-error" id="">Такое название уже существует!</span>
    <form asp-controller="Part" asp-action="AddPart" method="post" class="addform">
        <div class="addform__main">           
            <label>Название компонента:</label><br>
            <input class="addform__main-input" type="text" name="partName" id="partName"
            oninput="ValidCheckAdd()">
            <span class="addform__main-error" id="validerror">Введите название!</span><br>

            @if(@Model.Table == "subchapter")
            {
                <label>Содержимое поста:</label><br>
                <textarea class="addform__main-textarea" wrap="hard" name="content" id="content">@ViewBag.Content</textarea><br>
            }

            <input name="parentId" value="@Model.Id" style="display: none;">     
            <input name="parentName" value="@Model.Title" style="display: none;">  
            <input name="table" value="@Model.Table" style="display: none;">

            <div class="addform__main-button">
                <input type="submit" value="Добавить" onclick="RemoveStorage()">
            </div>
        </div>
    </form>  
</div>

<script src="~/js/min/textstorage.min.js"></script>