@model MainApp.Models.GeneralPart

@{
    ViewBag.Title = "Изменение компонента";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<link rel="stylesheet" href="~/css/update-addpart.min.css">

<div class="content__wrapper">
    <h2>Изменение компонента<br>"@Model.Title"</h2>
    <span class="addform__main-error" id="validerror">Такое название уже существует!</span>
    <form asp-controller="Part" asp-action="UpdatePart" method="post" class="addform">
        <div class="addform__main">
            <label>Новое название: </label><br>
            <input class="addform__main-input" type="text" name="newName" id="newName" value="@Model.Title" 
            oninput="ValidCheckChange()">
            <span class="addform__main-error" id="validerror">Введите название!</span><br>

            @if(ViewBag.Parents != null && ViewBag.Parents.Count != 0)
            {
                <select class="addform__main-select" name="newParentId">
                    <option value="@Model.ParentId">По умолчанию</option>
                    @foreach (var parent in ViewBag.Parents)
                    {
                        <option value="@parent.Id">@parent.Title</option>
                    }
                </select><br>
            }

            @if(@Model.Table == "post")
            {
                <label>Новое cодержимое поста:</label><br>
                <textarea class="addform__main-textarea" wrap="hard" type="text"
                name="newContent" id="newContent">@ViewBag.Content</textarea><br>
            }

            <input name="partId" value="@Model.Id" style="display: none;">
            <input name="table" value="@Model.Table" style="display: none;">
            <input name="parentId" value="@Model.ParentId" style="display: none;">
            <input name="parentTable" value="@Model.ParentTable" style="display: none;">

            <div class="addform__main-button">
                <input type="submit" value="Изменить" onclick="RemoveStorage()">
            </div>
        </div>
    </form>
</div>

<script src="~/js/min/textstorage.min.js"></script>