@model List<MainApp.Models.GeneralPart>

@{
    ViewBag.Title = "Управление";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

@functions{
    public string TableName(string table, string parentName)
    {
        switch (table)
        {
            case "onload":
                return "Секции";
            case "section":
                return $"Подсекции в секции «{parentName}»";
            case "subsection":
                return $"Разделы в подсекции «{parentName}»";
            case "chapter":
                return $"Подразделы в разделе «{parentName}»";
            case "subchapter":
                return $"Посты в подразделе «{parentName}»";
        }
        return null;
    }
}

<link rel="stylesheet" href="~/css/viewparts.min.css">
<script src="~/js/min/api.min.js"></script>

<div class="content__wrapper">
    @await Html.PartialAsync("~/Views/Partial/CrewPanel.cshtml")
    <div class="content__main">
        <h2>@TableName(@ViewBag.Table, @ViewBag.ParentName)</h2>
        @if(@ViewBag.Table != "onload")
        {
            <h3 class="main__title">
                <a asp-controller="Part" asp-action="ViewParts"
                asp-route-parentId="@ViewBag.Parent.Id" asp-route-parentName="@ViewBag.Parent.Title" 
                asp-route-table="@ViewBag.Parent.Table">Вернуться назад</a> 
            </h3>
        }

        <table class="main__table">
            <thead class="main__table-hat">
                <tr class="main__table-row">
                    <th class="main__table-header"><h3>Название</h3></th>
                    <th class="main__table-header">
                        <h3>
                            <a asp-controller="Part" asp-action="AddPart" 
                            asp-route-parentId="@ViewBag.ParentId" asp-route-table="@ViewBag.Table">Добавить</a>                      
                        </h3>
                    </th>
                </tr>
            </thead>
            <tbody class="main__table-body">
                @if(Model.Count!=0)
                {
                    @foreach (var part in Model.OrderBy(p => p.Id))
                    {
                        <tr class="main__table-row" id="@part.Id">
                            <td class="main__table-data">@part.Title</td>
                            <td class="main__table-data">
                                @if(@ViewBag.Table == "subchapter")
                                {
                                    <a asp-controller="Part" asp-action="ViewPost" 
                                    asp-route-postId="@part.Id">Подробнее</a> 
                                }
                                else
                                {
                                    <a asp-controller="Part" asp-action="ViewParts" 
                                    asp-route-parentId="@part.Id" asp-route-parentName="@part.Title" 
                                    asp-route-table="@part.Table">Подробнее</a> 
                                }

                                <a asp-controller="Part" asp-action="UpdatePart" 
                                asp-route-partId="@part.Id"asp-route-table="@part.Table">Изменить</a> 

                                <a onclick="deletePart(@part.Id, '@ViewBag.Table')">Удалить</a>   
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="main__table-row" id="empty-table">
                        <td class="main__table-data" >
                            Ничего нет
                        </td>
                    </tr>
                }      
            </tbody>
        </table>
    </div>
</div>

